{{/* Local context scratch */}}
{{- $scratch := newScratch -}}
{{- $filterBy := .filterBy -}}

{{/* Collect authors */}}
{{- $scratch.Set "authors" ( slice ) -}}
{{- $scratch.Set "noAuthors" 0 -}}

{{- $pages := where site.RegularPages.ByWeight "Type"  .page.Section -}}
{{- range $pages -}}
  {{- with .Params.githubAuthors -}}
    {{- range . -}}
        {{- if ( not ( in ($scratch.Get "authors") . ) ) -}}
            {{- $scratch.Add "authors" . -}}
        {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- $scratch.Add "noAuthors" 1 -}}
  {{- end -}}
{{- end -}}

<div  class="container tiles">
  
  <div class="header">
    <div class="row"><h1>{{ .page.Title }}</h1></div>
    <div class="row"><div class="subheader">{{ .page.Params.desc }}</div></div>
  </div>

  <div class="flex-grow">
    {{- partial "tutorial/print-tag-buttons" (dict "filterBy" $filterBy "section" .page.Section "pagePath" (path.Dir .page.File)) -}}
  </div>

  <div class="row">
    {{- range $pages -}}
      {{- $notHidden := ne (.Params.hidden | default false) true -}}
      {{- $hasTags := isset .Params "tags" }}
      {{- $showByFilter := (or (eq $filterBy "") (in .Params.tags $filterBy)) -}}

      {{- if and $notHidden $hasTags $showByFilter -}}
        {{/* Process linkTo */}}
        {{- $linkTo := .File.BaseFileName -}}
        {{- if eq $filterBy "" -}}
          {{- $firstTag := index .Params.tags 0 }}
          {{ $linkTo = print $firstTag "/" $linkTo }}
        {{- end -}}

        <div class="col-md-6 col-lg-4 box">
          <div class="card h-100">

            <div class="card-body">
              <div class="title">
                <a href="{{ $linkTo }}">{{ .Title}}</a>
              </div>

              <div class="lang">
                {{- partial "tutorial/print-languages" . -}}
              </div>

              <div class="desc">
                {{ .Params.desc}}
              </div>
            </div>

            <div>
              <div class="authors">
                {{- partial "tutorial/print-authors" . -}}
              </div>
            </div>

            <div class="card-footer">
              <div class="difficulty">
                {{- partial "tutorial/print-difficulty" . -}}
              </div>
              <div class="link">
                <a href="{{ $linkTo }}"><i class="fas fa-arrow-right"></i> Expand</a>
              </div>
            </div>

          </div>
        </div>
      {{- end -}}
    {{- end -}}
  </div>

</div>
