{{- range .Params.tags -}}
  {{- if eq . "rust" }}
    <img src="/img/common/rust.svg" height="40" data-toggle="tooltip" title="Rust" />
  {{ end -}}
  {{- if eq . "node" }}
    <img src="/img/common/nodejs.svg" height="40" data-toggle="tooltip" title="Node.Js" />
  {{ end -}}
  {{- if eq . "python"}}
    <img src="/img/common/python.svg" height="40" data-toggle="tooltip" title="Python"/> 
  {{ end -}}  
  {{- if eq . "swift"}}
    <img src="/img/common/swift.svg" height="40" data-toggle="tooltip" title="Swift"/> 
  {{ end -}}
{{- end -}}