# Hugo
public
resources
node_modules
generated
.hugo_build.lock

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Dev
.DS_Store
.vscode

## Environment variables
.env

## Scripts
.tmp

# JetBrains
.idea/

## Netlify (functions)
functions/.netlify