<div class="title">
    {{ partial "main/text/title.md" | markdownify }}
    <a href="/docs/node-api/reference" style="text-decoration: none;" class="pl-3">
        <img src="/img/common/njs.png" width="45" alt="Node" />
    </a>
    <a href="/docs/rust-api/reference" style="text-decoration: none;">
        <img src="/img/common/rustacean-flat-noshadow.svg" width="75" alt="Rust" />
    </a>  
</div>
<div class="wrapper">
<div class="subtitle">
    {{ partial "main/text/description.md" | markdownify }}
</div>
</div>
