<div class="title">
    {{ partial "main/text/title.md" | markdownify }}
    <a href="https://nodejs.org/" target="_blank" style="text-decoration: none;" class="pl-3">
        <img src="/img/common/njs.png" width="45" alt="Node" />
    </a>
    <a href="https://www.rust-lang.org/" target="_blank" style="text-decoration: none;">
        <img src="/img/common/rustacean-flat-noshadow.svg" width="75" alt="Rust" />
    </a>  
    <a href="https://developer.apple.com/swift/" target="_blank" style="text-decoration: none;">
        <img src="/img/common/Swift_logo_color.svg" width="50" alt="swift" />
    </a>  
</div>
<div class="wrapper">
<div class="subtitle">
    {{ partial "main/text/description.md" | markdownify }}
</div>
</div>
