<div class="title">
    {{ partial "main/text/title.md" | markdownify }}
</div>
<div class="pt-3">
    <a href="https://www.rust-lang.org/" target="_blank" style="text-decoration: none; margin: 3px;">
        <img src="/images/assets/rust.svg" height="48" alt="Rust" />
    </a>
    <a href="https://www.python.org/" target="_blank" style="text-decoration: none; margin: 3px;">
        <img src="/images/assets/python.svg" height="48" alt="Python" />
    </a>
    <a href="https://nodejs.org/" target="_blank" style="text-decoration: none; margin: 3px;">
        <img src="/images/assets/nodejs.svg" height="48" alt="Node" />
    </a>
    <a href="http://oracle.com/java/" target="_blank" style="text-decoration: none; margin: 3px;">
        <img src="/images/assets/java.svg" height="50" alt="Java" />
    </a>
</div>
<div class="wrapper">
<div class="subtitle">
    {{ partial "main/text/description.md" | markdownify }}
</div>
</div>
