<div class="title">Development platform for <br />Distributed Apps
    <a href="/docs/node-api/reference" style="text-decoration: none;" class="pl-3">
        <img src="/images/njs.png" width="45" alt="Node" />
    </a>
    <a href="/docs/rust-api/reference" style="text-decoration: none;">
        <img src="/images/rustacean-flat-noshadow.svg" width="75" alt="Rust" />
    </a>  
</div>
<div class="wrapper">
<div class="subtitle">
    Build powerful distributed apps on Fluvio 
    {{ "**real-time streaming**" | markdownify}} platform.
    Cloud native backend and small footprint client, makes it ideal for any environment, 
    {{ "_data center_" | markdownify}}, 
    {{ "_cloud_" | markdownify}}, or
    {{ "_IOT_" | markdownify}}. 
</div>
<div class="subtitle pt-3">
    No infrastructure to manage, just create an account on 
    {{ "[Fluvio Cloud](docs/getting-started/quick-start/)" | markdownify}}, 
    and start streaming. Checkout our blog 
     {{ "[From zero to streaming in 5 minutes](/docs/getting-started/overview/)" | markdownify}}.
</div>
</div>

{{/* The quickest way to<br/> real-time apps */}}

{{/* The platform for <br />real-time distributed apps */}}
