{{ define "head-meta" }}
    {{- $found_page := false -}}
    {{- range where .Pages ".Params.hidden" "ne" true -}}
        {{- if ne $found_page true -}}
          {{- $found_page = true -}}
          {{- partial "page-head-meta.html" (dict "page" .) -}}
        {{- end -}}
    {{- end -}}
{{ end }}

{{ define "main" }}
<div  class="container tiles">
    <div class="pl-3">
      <div class="row"><h1>{{ .Title }}</h1></div>
      <div class="row"><div class="subtitle">{{ .Params.desc }}</div></div>
    </div>
    
    <div class="row">
    {{ range .Pages.ByDate.Reverse }} 
        {{- $notHidden := ne (.Params.hidden | default false) true -}}
        {{- if $notHidden -}}
        <div class="col-md-6 col-lg-4 box">
          <div class="card h-100">
            <div class="card-img">
                <a href="{{.Params.url}}"><img src="/{{ (.Params.img) }}" width="296" /></a>
            </div>
            <div class="blog-card">
              <div class="container meta"><div class="row">
                <div class="col meta-left">
                {{  (upper .Params.type) | default "TECH" }}
                </div>
                <div class="col meta-right">
                  <div class="date">
                    <i class="fa fa-calendar-day pr-1 pl-1"></i>
                    {{ .Date.Format site.Params.short_time_format }}
                  </div>
                </div>
              </div></div>
              <div class="title">
                <a href="{{.Params.url}}">{{ .Title}}</a>
              </div>
              <div class="description">
                {{ .Params.description}}
              </div>
            </div>
          </div>
        </div>        
        {{- end -}}
    {{ end }}
    </div>
</div>
{{ end }}

{{ define "content" }}
    {{- $found_page := false -}}
    {{ range where .Pages ".Params.hidden" "ne" true }}
        {{if ne $found_page true}}
          {{ partial "blog/blog_post" (dict "page" .) }}
          {{ partial "blog/page_nav" (dict "page" .) }}
          {{- $found_page = true -}}
        {{- end -}}
    {{- end -}}
    <script src="/js/copy-code.js"></script>
{{ end }}
