{{ define "head-meta" }}
    {{- $found_page := false -}}
    {{- range where .Pages ".Params.hidden" "ne" true -}}
        {{- if ne $found_page true -}}
          {{- $found_page = true -}}
          {{- partial "page-head-meta.html" (dict "page" .) -}}
        {{- end -}}
    {{- end -}}
{{ end }}

{{ define "main" }}
  <div class="blog">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col content">
          {{- block "content" . }}{{- end }}
        </div>
        <div class="col menu">
            {{ partial "blog/recent-posts-title.html" . }}
            {{ partial "blog/recent-posts.html" . }}
        </div>      
      </div>
    </div>
  </div>
{{ end }}

{{ define "content" }}
    {{- $found_page := false -}}
    {{ range where .Pages ".Params.hidden" "ne" true }}
        {{if ne $found_page true}}
          {{ partial "blog/blog_post" (dict "page" .) }}
          {{ partial "blog/page_nav" (dict "page" .) }}
          {{- $found_page = true -}}
        {{- end -}}
    {{- end -}}
    <script src="/js/copy-code.js"></script>    
{{ end }}
