<form 
    class="newsForm"
    method="POST"
    data-netlify="true"
    data-netlify-recaptcha="true"
    id="simple-contact-form" 
>
    <input type='hidden' name='form-name' value='simpleContactForm' />
    <p class="form-row">
        <label id="contact-form-name-label" for="contact-form-name" class="form-label">Name</label>
        <input type="text" name="name" id="contact-form-name" aria-labelledby="contact-form-name-label" class="form-input" />
    </p>
    <p class="form-row">
        <label id="contact-form-email-label" for="contact-form-email" class="form-label">Email address</label>
        <input type="email" name="email" id="contact-form-email" aria-labelledby="contact-form-email-label" class="form-input" />
    </p>
    <p class="form-row">
        <label id="contact-form-message-label" for="contact-form-message" class="form-label">Message</label>
        <textarea
            name="message"
            id="contact-form-message"
            aria-labelledby="contact-form-message-label"
            class="form-textarea"
            rows="7"
        ></textarea>
    </p>
    <p class ="form-row">
        <div data-netlify-recaptcha="true" class="form-row"></div>
    </p>
    <p class="form-row form-submit">
        <button type="submit" class="button">Send Message</button>
    </p>
</form>

<script>
    const formToJSON = (elements) =>
        [].reduce.call(
            elements,
            (data, element) => {
                data[element.name] = element.value;
                return data;
            },
            {},
        );

    const processForm = (event) => {
        event.preventDefault();

        let values = {
            "form-name": "simpleContactForm",
            "name": emailForm.elements["name"].value,
            "email": emailForm.elements["email"].value,
            "message": emailForm.elements["message"].value,
        };

        console.log(JSON.stringify(values));

        fetch("/.netlify/functions/newsletter", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(values)
        })
        .then(data => {
            //console.log(JSON.stringify(data));
            emailForm.innerHTML = `<div class="form--success">Almost there! Check your inbox for a confirmation e-mail.</div>`;
        })
        .catch(error => {
            console.log("error");
            emailForm.innerHTML = `<div class="form--error">Error: ${error}</div>`;
        })
    }
    
    const emailForm = document.querySelector(".newsForm");
    if (emailForm) {
      emailForm.addEventListener('submit', processForm, false)
    }
    
    </script>
    