{{- $content := .Content -}}
{{- $content := partial "augment/idea-symbol.html" $content -}}
{{- $content := partial "augment/caution-symbol.html" $content -}}
{{- $content := partial "augment/copy-code.html" $content -}}
{{- if .Params.code.height }}
    {{- $content = partial "augment/code-box-height.html" (dict "content" $content "height" .Params.code.height) -}}
{{- end -}}

{{- $title := .Title | safeHTML -}}

<div class="container-fluid site-width min-height">
  <div class="row">
    <div class="col">
      <div class="download-page doc">
        <h1>{{- $title -}}</h1>   

        <div class="doc-content">
          {{ $content }}
        </div>

      </div>
    </div>
  </div>
</div>

<script src="/js/copy-code.js"></script>