<!DOCTYPE html>
<html>
  <head>
    <title>Fluvio - {{ .Title }}</title>
    {{- partial "header/head-meta.html" . }}
    {{- block "head-meta" . -}}{{- end }}
    {{- partial "header/head-link.html" . }}
    {{- partial "header/head-script.html" . }}
    {{- partial "common/cookies.html" . }}
    {{- block "head-script" . -}}{{- end }}
  </head>
  <body class="content d-flex flex-column">
    <div class="page-overlay"></div>
    {{- partial "house-adds.html" . -}}
    {{- block "menu" . -}}{{- end }}
    <div id="content">
    {{- block "content" . }}{{- end }}
    </div>
    {{- block "footer" . }}{{- end }}
  </body>
</html>
