<!DOCTYPE html>
<html>
  <head>
    <title>Fluvio - {{ .Title }}</title>
    {{- partial "header/head-meta.html" . }}
    {{- block "head-meta" . -}}{{- end }}
    {{- partial "header/head-link.html" . }}
    {{- partial "header/head-script.html" . }}
    {{- partial "common/cookies.html" . }}
    {{- block "head-script" . -}}{{- end }}
  </head>
  <body class="content d-flex flex-column">
    <div class="page-overlay"></div>
    {{- partial "menu.html" (dict 
      "page" . 
      "menu" .Site.Menus.infinyon
      "name" "infinyon"
      "link" "https://www.infinyon.com"
      "logo" "infinyon-logo-full-thick.svg"
      "justify" "mr-auto"
    ) -}}
    {{- partial "menu.html" (dict 
      "page" . 
      "menu" .Site.Menus.fluvio
      "name" "fluvio"
      "link" "/"
      "logo" "fluvio-logo-full-white.svg"
      "justify" "ml-auto"
      "stars" true
    ) -}}
    <div id="content">
    {{- block "content" . }}{{- end }}
    </div>
    {{- block "footer" . }}{{- end }}
  </body>
</html>
