<!DOCTYPE html>
<html>
  <head>
    <title>Fluvio - {{ .Title }}</title>
    {{- partial "head-meta.html" . }}
    {{- block "head-meta" . -}}{{- end }}
    {{- partial "head-link.html" . }}
    {{- partial "head-script.html" . }}
    {{- partial "common/cookies.html" . }}
    {{- block "head-script" . -}}{{- end }}
  </head>
  <body class="content d-flex flex-column">
    <div class="page-overlay"></div>
    {{- partial "menu.html" . -}}
    <div id="content">
    {{- block "content" . }}{{- end }}
    </div>
    {{- block "footer" . }}{{- end }}
  </body>
</html>
