---
title: "This Week in Fluvio #$NEXT_ISSUE"
date: $TODAY_DATE 
weight: 20
---
Fluvio is a distributed, programmable streaming platform written in Rust.

This Week in Fluvio is our weekly newsletter for development updates to [Fluvio open source].

Please subscribe to This Week in Fluvio to receive new posts in your inbox
{{< subscribe-button >}}


{{< banner >}}

---

## New release

## New features

## Upcoming features
This is a feature highlight that will be included in the next Fluvio release

## Performance improvements

## Bug fixes

## Developer experience improvements

## Team updates

## InfinyOn Cloud updates

## Tips

## New blog post

## New video

## Recent events

## Upcoming events

## Open positions


---

Get in touch with us on [Github Discussions] or join [our Discord channel] and come say hello!

For the full list of changes this week, be sure to check out [our CHANGELOG].

[Fluvio open source]: https://github.com/infinyon/fluvio
[our CHANGELOG]: https://github.com/infinyon/fluvio/blob/master/CHANGELOG.md
[our Discord channel]: https://discordapp.com/invite/bBG2dTz
[Github Discussions]: https://github.com/infinyon/fluvio/discussions
