{{- $isProduction := true -}}
{{- if in (string .Site.BaseURL) "localhost" -}}
  {{ $isProduction = false }}
{{- else if in (string .Site.BaseURL) "nightly" -}}
  {{ $isProduction = false }}
{{- else if in (string .Site.BaseURL) "fluvio2" -}}
  {{ $isProduction = false }}  
{{- end -}}

{{- if $isProduction -}}
<!--  Leadfeeder -->
<script> 
(function(ss,ex){ window.ldfdr=window.ldfdr||function(){(ldfdr._q=ldfdr._q||[]).push([].slice.call(arguments));}; (function(d,s){ fs=d.getElementsByTagName(s)[0]; function ce(src){ var cs=d.createElement(s); cs.src=src; cs.async=1; fs.parentNode.insertBefore(cs,fs); }; ce('https://sc.lfeeder.com/lftracker_v1_'+ss+(ex?'_'+ex:'')+'.js'); })(document,'script'); })('Xbp1oaEr90r8EdVj'); 
</script>
{{- end -}}

{{- if $isProduction -}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147220940-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-147220940-1', {
      'user_id':  gsc()
    });    
  </script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>  
{{- end -}}