.blog {  
  .content { 
    min-width: 300px;
  }

  .blog-content {
    margin: .5em 0 2.5em 0;

    /* code section */
    .highlight pre {
      max-height: 500px; 
      overflow-y: auto;
      overflow-x: auto;
    }
    ::-webkit-scrollbar {
      -webkit-appearance: none; 
      width: 7px;
      height: 7px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px; 
      background-color: rgba(255, 255, 255, .5); 
      box-shadow: 0 0 1px rgba(0, 0, 0, .5)
    }
  }

  .author-area {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #efefef;
    content: "";
    display: block;
    position: relative;
    padding: 5px 10px;

    i {
      font-size: 1em;
    }
    
    .by, .date {
      font-size: .9em;
      font-family: $font-blog;
    }

    .author {
      color: #555555;
      font-size: 1.05em;
      font-family: $font-blog-author;
      text-transform: uppercase;
    }
  }

  img {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
  }

  .recent-posts { 
    -ms-flex: 0 0 26Opx;
    flex: 0 0 260px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .recent-posts .h4 { 
    border-bottom: 1px solid $col-blog-header-line;
    padding-bottom: 4px;
  }

  .recent-posts .h4 a { 
    color: $col-blog-header;
  }

  .recent-posts a:hover { 
    text-decoration: none;
  }

  .recent-posts ul { 
    margin-left:-20px;
  }

  .recent-posts ul li { 
    list-style: none;
    padding-bottom: 2px;
  }
  
  .recent-posts .item a { 
    font-size: 16px;
    font-family: $font-blog;
    font-weight: 400;
    color: $col-blog;
  }

  .recent-posts .item a:hover { 
    text-decoration: underline;
  }

  .recent-posts .item.selected a { 
    color: $col-blog-selected;
  }
}

.blog-nav {
  padding-top:10px;
}

// --------------
// Screen Sizes
// --------------
@media (min-width: 1200px) {
  .blog {
    max-width: 1200px;
    margin: .5em auto;     
  }
}

@media (max-width: 992px) {

  .blog .content { 
    padding-right: 30px;
  }
  
  .blog .recent-posts { 
    display: none;
  }
}