.callout {
    padding: 1em .5em;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    position: relative;
    width: 100%;

    margin: .5em 0 .5em 1em;
    max-width: calc(100% - .5em - .5em - 1em);

    a { color:$main-hyperlink }
    
    @media (min-width: 768px) {
        max-width: calc(100% - .5em - .5em - .5em);
    }

    ul li {
        margin-top: 5px !important;
        margin-bottom: 0 !important;
    }

    .content {
        margin-left: 1em;
        min-height: 100%;
        line-height: 1.55em;

        p:first-of-type {
            margin-top: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    &.idea, &.caution {
        line-height: 0;

        .icon {
            left: -10px;
            top: 50%;
            position: absolute;

            i {line-height: 0;}
        }
    }

    &.idea {
        background-color: lighten($accent-green, 57%);
        border-color:  lighten($accent-green, 20%);
        color: darken($accent-green, 10%);


        i {
            font-size:1.5em;
            margin-left: 1px;
            color: $accent-turquoise;
        }
    }

    &.caution {
        background-color: lighten($accent-orange, 45%);
        border-color: lighten($accent-orange, 20%);
        color: darken($accent-orange, 20%);

        i {
            font-size:1.1em; 
            margin-left: 1px;
            color: $accent-orange;
        }
    }

    code {
        color: inherit;
        padding: 5px;
        background: darker(inherit, 15%);
    }
}
