.card-width {width: 1200px; }

@media (max-width: 1199px ) {
  .card-width {width: 992px;}
}
  
@media (max-width: 991px ) {
   .card-width {width:575px}
}

@media (max-width: 575px ) {
  .card-width {width:320px;}
}