.circle-card-area {
  margin: 20px;
  padding: 0 40px 20px 40px;
  background:$main-lightest;
  border-radius:30px;

  .content {
    margin: -15px 30px 0 30px;
  }
}

.circle-card {
  padding: 30px 10px;
  background: transparent;
  border: none;

  .circle {
    margin: auto;
    position: relative;
    height: 160px;
    width: 160px;
    background: linear-gradient(180deg, $pink1, $main-color ) 0px 0px no-repeat padding-box padding-box transparent;
    border-radius: 50%;
    display: inline-block;
  
    .inner {
      width: 100%;
      height: 100%;
      top: 25px;
      position: absolute;
      text-align: center;

      img {width: 100px; vertical-align: middle;}
    };
  }

  .title {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5em;
    color: $main-dark;
    font-size: 1.6em;
  }

  .title:after {
    background: none repeat scroll 0 0 $main-defused;
    content: "";
    display: block;
    position: relative;
    height: 1px;
  }

  .description {
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .circle-card-area {
    padding: 0 20px 20px 20px;
  }
}

@media (max-width: 575px ) {
  .circle-card-area {
    margin: 5px;
    padding: 0 10px 10px 10px;
  }
}