.copy-code-button {
  position: absolute;
  width: 80px;
  height: 25px;
  right: 0;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: $gray14;
  background-color: $light-gray;
  border: 1.25px solid $gray8;
  border-radius: 5px;
  white-space: nowrap;
  margin: 14px 30px;
  opacity: 0.6;
  font-size: 0.9em;
  z-index: 2;
  cursor: pointer;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  color: $gray1;
  background-color:$gray10;
  opacity: 1.0;
}

.copy-code-button:focus {
    outline: 0;
}