.download-page {
  margin: auto;
  margin: 30px 10px;
  text-align: center;

  .card-wrapper {
    text-align: center;

    .card {
      margin: auto;
      min-width: 320px;
      max-width: 800px;
      padding: 20px 20px;
      background: $white;
      //border: 1px solid $gray1;
      //box-shadow: 0 0 1px $gray1;
      border: none;
      box-shadow:none;
      text-align: left;
    }
  }

  .lang-nav {
    ul.nav { 
      border-bottom: 1px solid $gray2; 
      li { 
        margin-bottom: -3px; 

        .active {
          border-bottom: 5px solid $main-color;
        }

        a {
          font-size: 1.3em;
          color: $black;
        }

        a:hover {
          text-decoration: none;
        }
      }
    }

    .tab-content {
      padding: 20px;

      .copy-code-button {
        margin-top: 25px;
        margin-right :35px;
      }
    }
  }
}