.fluvio {
    padding: .5em;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    position: relative;

    margin: .5em 0 .5em .5em;
    max-width: calc(100% - .5em - .5em - 1em);
    
    @media (min-width: 768px) {
        margin: 0 1.25em;
        max-width: calc(100% - .5em - .5em - 1.25em - 1.25em);
    }

    .content {
        font-family: $font-paragraph;
        margin-left: 1em;
        min-height: 100%;
        line-height: 1.6em;

        p:first-of-type {
            margin-top: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    &.cli {
        background-color:$cli-color-bg;
        border-color:$cli-color-border;
    }

    pre .d{ color: #3a3a3a; }
    pre .p{ color: #00aa00; }
    pre .c{ color: #3a3a3a; }
    pre .tx{ color: #cc3300; }
    pre .md{ color: #cc00ff; }
    pre .cm{ color: #0b5aaa; }
    pre .pr{ color: #0b5aaa; }
}
