.highlight {
    margin: 1em 2.2em 1em 1em;
    padding: 3px;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    background: #f8f8f8;

    div {
      padding: .5em;
  
      pre {
        margin: 0;
      }
    }

    pre {
      margin: .5em 1em;
    }
}
  