.jtron-bk {
  background-size: cover;
  background: $main-dark;
  z-index: -1;
  
  .lines {
    background: url(/images/assets/bk-lines.png) no-repeat bottom left;
    background-size: 700px;
    z-index: -2;
  }
}

.jtron {
  padding: 0;
  min-height: 600px;
  position: relative;

  .j-row {
    padding: 80px 30px;
  }

  .j-img {
    margin-top: 20px;
    margin-right: 50px;
    max-width: 580px;
    background-size: cover;
    position:absolute; 
    top:0; 
    right:0; 
  }

  .j-img-oss {
    margin-right: 20px;
    margin-bottom: 100px;
    max-width: 740px;
    background-size: cover;
    position:absolute; 
    bottom:0; 
    right:0; 
  }

  .j-text {
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;

    .title { 
      padding-bottom: .8em;
      font-size: 2.7em; 
      line-height: 1.2em; 
      max-width: 620px;
      color: $gray0; 
      font-family: $main-font;
    };
    
    .desc { 
      padding-bottom: 1.5em;
      font-size: 1.25em; 
      max-width: 600px;
      color: $gray0; 
      font-family: $main-font;
    };

    .desc.oss { 
      max-width: 580px;
    };
  }
}

@media (max-width: 1199px ) {
  .jtron .j-text { padding-left: 0; max-width: 420px; }
}

@media (max-width: 991px ) {
  .jtron-bk .lines {background: none;}

  .jtron {
    min-height: 550px;
    .j-text { 
      max-width: 100%; 
      .desc {margin: 20px 0 40px; }
    }
    .j-img {max-width: 520px; opacity: 0.25;}
    .j-img-oss {max-width: 640px; opacity: 0.25;}
  }
}

@media (max-width: 767px) {
  .jtron {
    .j-img { margin-right: 40px; }
    .j-img-oss { max-width: 520px; margin-right: 30px; }
  }
}

@media (max-width: 576px ) {
  .jtron { 
    .j-img, .j-img-oss {max-width: 430px; margin-right: 20px; }
    .j-row {padding: 20px 20px 50px 20px;}
  }
}