$item: $gray12;

.jtron-bk {
  background-size: cover;
  background: linear-gradient(180deg, rgb(255, 255, 255), $main-lighter) 0px 0px no-repeat padding-box padding-box transparent;
  z-index: -1;
}

.jtron {
  padding: 0;
  min-height: 580px;
  position: relative;

  .j-row {
    padding: 40px 30px;
  }

  .j-img-large {
    margin-right: 20px;
    margin-bottom: 200px;
    max-width: 740px;
    background-size: cover;
    position:absolute; 
    bottom:0; 
    right:0; 
    display: block;
  }

  .j-img-small {
    margin-right: 20px;
    margin-bottom: 220px;
    max-width: 590px;
    background-size: cover;
    position:absolute; 
    bottom:0; 
    right:0;
    display: none;
  }

  .j-text {
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;

    .title { 
      padding-bottom: 30px;
      font-size: 2.7em; 
      line-height: 1.2em; 
      max-width: 620px;
      color: $item; 
      font-family: $main-font;
    };
    
    .desc { 
      padding-bottom: 40px;
      font-size: 1.15em; 
      max-width: 600px;
      color:  $item;
      font-family: $main-font;
    };

    .desc.oss { 
      max-width: 580px;
    };
  }
}

@media (max-width: 1275px ) {
  .jtron .j-img-small {display: block;}
  .jtron .j-img-large {display: none;}
}

@media (max-width: 1199px ) {
  .jtron .j-text { padding-left: 0; max-width: 420px; }
}

@media (max-width: 991px ) {
  .jtron {
    min-height: 550px;
    .j-text { 
      max-width: 100%; 
      .desc {margin: 40px 0 40px; }
    }
    .j-img-small {opacity: 0.20; margin-bottom: 160px }
  }
}

@media (max-width: 767px) {
  .jtron {
    .j-img-small { margin-right: 10px; margin-left: 10px;}
  }
}

@media (max-width: 576px ) {
  .jtron { 
    //.j-row {padding: 20px 20px 50px 20px;}
  }
}