.main-code {
  min-height: 340px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: .5em;
  text-align: left;
  padding-bottom: 10px;

  .label {
    font-family: $font-headers;
    font-size: 1.45rem;
    margin-top: 15px;
  }

  ul {
    margin-top: -42px;

    a {
      font-size: 1rem;
      color: $col-gray-light3;
    }

    .active {
      color: $col-blog-selected;
      //text-decoration: underline;
    }
  }

  .highlight {
    margin: 0 10px 10px;
    
    pre {
      font-size: 0.8rem;
      margin-top:-7px;
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 992px) {
    margin-top:-20px;
    margin-left: 25px;
  }
}
