$item: $main-med;

.navbar-custom.bb { 
  padding-bottom: 10px;
  border-bottom: 1px solid $main-lighter; 
}

.navbar-custom {
  z-index: 2000;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: $white;

  a.nav-link {
    padding: 0 3px !important;
    white-space: nowrap;
  }

  .navbar-nav li {
    padding: 0;
    margin: 0 1.1rem;
  }

  .navbar-item.active {   
    border-bottom: 2px solid $col-top-menu-border; 
  }

  .navbar-item.stars a img {
    vertical-align:top;
    height: 1.5em;
  }

  #logo {
    margin-top: -5px;
  }

  .navbar-brand, 
  .navbar-text,
  .navbar-nav .nav-link {
    color: $item;
    line-height: 1.7em;
    .fab {
      font-size: 1.45em;
    }
    i {
      color: $item;
    }
    img.post {
      margin-left: 6px;
      margin-top: 6px;
      vertical-align: top;
      width: 14px;
    }
    font-size: 1.08em;
    font-family: $main-dark;
    //text-transform: uppercase;

    img {
      height: 28px; 
    }
  }

  .navbar-nav .nav-link-rev {
    border: 4px solid $gray10;
    border-radius: .3em;  
    font-size: .85em;
    padding: .2em .3em;
    text-decoration: none;
    font-weight: 400;
    white-space: nowrap;
  }

  .navbar-toggler {
    //background: $main-lighter;
    border: 1px solid $main-light;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='navy' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: $item;
  }
  

  .navbar-dropdown {
      background-color: $white;
      padding-top: 10px;
      border: 1px solid $col-top-menu-border;
      border-radius: 7px;

      li {
        padding: 5px 2px;
      }

      li:not(:last-child) {
        border-bottom: 1px solid lighten($col-top-menu-border, 40%);
      }

      a {
        color: $main-color !important;
        font-size: .95em !important;
      }
  }
}

@media (max-width: 767px) {
  .navbar-custom.bb {
    border-bottom: 1px solid rgba($main-light, 0.3);
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-custom {    
      //background: linear-gradient(180deg, rgb(255, 255, 255), $main-lighter) 0px 0px no-repeat padding-box padding-box transparent;

      .navbar-nav {
        margin-top:10px;
        padding-bottom: 20px;
      }
  
      .nav-link {
        padding: 5px;
        margin: 10px 5px 10px 5px;
      }
  
      .nav-link-rev {
        margin-left: 5px;
      }  
  
      .navbar-item.active {   
        border-bottom: none;
        background-color: $main-lightest;
      }

      .navbar-item.stars a img {
        margin-top: 8px;
        margin-left: 7px;
      }

      .navbar-dropdown {
          border-style: none;
          background-color: $col-top-menu-bg;
          margin: -15px 10px 0;
          li { padding: 1px;}
          a { color: $white !important; }
      }

      .navbar-nav .nav-link-rev {
        line-height: 3em;
      }
    }

}