// --------------
// Fonts
// --------------

// Site
$font-body: Futura, Helvetica, sans-serif;
$font-headers: "Titillium Web", helvetica, sans-serif;
$font-paragraph: "Work Sans", sans-serif;
$font-logo: "Montserrat Alternates", sans-serif;

// Side menu
$font-side-menu: "Open Sans", sans-serif;

// Bog
$font-blog: "Open Sans", sans-serif;
$font-blog-author: "Titillium SemiBold", helvetica, sans-serif;

// FAQ
$font-faq-toc: "Open Sans", sans-serif;

// --------------
// Colors
// --------------

// Site
$color-text: #666;
$color-headers: #333;
$color-footer: #fff;
$color-hyperlink: #3b7abb;
$color-footer-bg: #094888; //#042444;

// Top Menu
$color-top-menu: #fff;
$color-top-menu-bg: #0b5aaa;
$color-top-menu-collaped-sel: #4169e1;
$color-top-menu-border: #fff;

// Side Menu
$color-sidemenu: #555;
$color-sidemenu-marker: #3371e3;

// Main
$color-main-title: #0b5aaa;
$color-main-desc: #042444;

// Blog
$color-blog: #555;
$color-blog-header: #333;
$color-blog-header-line: #ddd;
$color-blog-selected:  #3371e3;

// FAQ
$color-faq-toc: #3371e3;

// Others
$color-lightgray: #ddd;
$color-darkblue: #548bc3;
$color-lightblue: #79C2FB;
$color-diffusedblue: #89DFFB;

// Fluvio
$cli-color-bg: #f8f8f8;
$cli-color-border: #ddd;

// Callouts
$idea-color-bg: #f0fcee;
$idea-color-border: #d5f9cf;

$warningCalloutBackgroundColor: #dfd;
$warningCalloutBorderColor: #00aa00;

$quoteCalloutBackgroundColor: lightblue;
$quoteCalloutBorderColor: blue;
