// --------------
// Fonts
// --------------

// Site
$font-body: "Work Sans", sans-serif; //Futura, Helvetica, sans-serif;
$font-headers: "Titillium Web", helvetica, sans-serif;
$font-paragraph: "Work Sans", sans-serif;
$font-logo: "Montserrat Alternates", sans-serif;

// Bog
$font-blog: "Open Sans", sans-serif;
$font-blog-author: "Titillium SemiBold", helvetica, sans-serif;

// FAQ
$font-faq-toc: "Open Sans", sans-serif;

// Callout
//$font-callout: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$font-callout: "Fira Mono", monospace, 'Andale Mono', 'Ubuntu Mono', Monaco;

// Button
.btn-primary, btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4987c6 !important;
    border-color:#4987c6 !important;
}

// --------------
// Colors
// --------------

// Site
$color-text: #555;
$color-headers: #333;
$color-footer: #ffffff;
$color-hyperlink: #0b5aaa;
$color-footer-bg: #094888; //#042444;

// Top Menu
$color-top-menu: #ffffff;
$color-top-menu-bg: #0b5aaa;
$color-top-menu-collaped-sel: #2764d1;
$color-top-menu-border: #fff;

// Side Menu
$color-sidemenu: #555;
$color-sidemenu-header: #0b5aaa;
$color-sidemenu-selected: #0b5aaa;

// Main
$color-main-title: #0b5aaa;
$color-main-desc: #042444;

// Blog
$color-blog: #555;
$color-blog-header: #333;
$color-blog-header-line: #dddddd;
$color-blog-selected:  #0b5aaa;

// FAQ
$color-faq-toc: #3371e3;

// Others
$color-lightgray: #dddddd;
$color-darkblue: #548bc3;
$color-lightblue: #79C2FB;

// Callouts
$color-callout-bg: #f8f8f8;
$color-callout-border: #ddd;
$color-idea-bg: #f0fcee;
$color-idea-border: #d5f9cf;
$color-idea-icon: #79c16c;
$color-caution-bg: #fae37f;
$color-caution-border: #ddb05f;
$color-caution-icon: #ff9966 ;

// Button
$color-button-base: #4987c6;

// Fluvio Blue
$flv-blue-dark9: #010911;
$flv-blue-dark8: #021222;
$flv-blue-dark7: #031b33;
$flv-blue-dark6: #042444;
$flv-blue-dark5: #052d55;
$flv-blue-dark4: #063666;
$flv-blue-dark3: #073e76;
$flv-blue-dark2: #084888;
$flv-blue-dark1: #095199;
$flv-blue-base: #0b5aaa;
$flv-blue-light1: #236ab2;
$flv-blue-light2: #3b7abb;
$flv-blue-light3: #548bc3;
$flv-blue-light4: #6c9ccc;
$flv-blue-light5: #85acd4;
$flv-blue-light6: #9dbddd;
$flv-blue-light7: #b5cde5;
$flv-blue-light8: #cedeee;
$flv-blue-light9: #e6eef6;

// Fluvio Gray
$flv-gray-dark9: #090909;
$flv-gray-dark8: #121212;
$flv-gray-dark7: #1b1b1b;
$flv-gray-dark6: #242424;
$flv-gray-dark5: #2d2d2d;
$flv-gray-dark4: #363636;
$flv-gray-dark3: #3e3e3e;
$flv-gray-dark2: #484848;
$flv-gray-dark1: #515151;
$flv-gray-base: #5a5a5a;
$flv-gray-light1: #6a6a6a;
$flv-gray-light2: #7a7a7a;
$flv-gray-light3: #8b8b8b;
$flv-gray-light4: #9c9c9c;
$flv-gray-light5: #acacac;
$flv-gray-light6: #bdbdbd;
$flv-gray-light7: #cdcdcd;
$flv-gray-light8: #dedede;
$flv-gray-light9: #eeeeee;
$flv-gray-light10: #f6f6f6;
$flv-gray-light11: #f8f8f8;
$flv-gray-light12: #fafafa;

$flv-green-base: #0baa5b;
