$sidebar-width: 200px;
.sidebar {
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    min-height: 100vh;
    padding-top: 10px;
    border-right: 1px solid $main-lighter;

    .card {
        //margin-right: 5px;
        padding-left: 5px;
        border: none;
        border-left: 4px solid transparent;
        border-radius: 0;

        a { 
            text-decoration: none;
            color: $gray10;
            line-height: 1.8em;
            font-size: .95em;
            font-weight: normal;
        }

    }

    .card.selected {
        border-left: 4px solid $pink;
        background: $main-lightest;
    }

    .card:hover {
        background: $main-lightest;
    }

    .section {
        .title {
            margin: 12px 0 2px;
            color: $main-light;
            text-transform: uppercase;
            font-weight: normal;
        }

        .card {
            padding-left: 10px;
        }
    }

    #dismiss {
        display: none;
        text-align: right;
        margin-right: 5px;
        i {padding-right: 5px;}
    }
}

.sidebar.active {
    margin-left: -$sidebar-width;
}

.sidebar.ontop {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: -90px;
    z-index: 9999;
    background: white;
    padding: 10px;

    #dismiss {
        display: block;
    }
}

.sidebar-nav {
    display: none;
    text-align: center;
    border-bottom: 1px solid $gray6;
    color: $white;
    background: $main-light;
    padding: 10px;
    font-size: 1.2em;

    i {padding-right: 10px; }
}

.page-overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

.page-overlay.active {
    display: block;
    opacity: 1;
}

@media (max-width: 768px) {
    .sidebar-nav { display: block; }
    .sidebar {
        margin-left: calc(#{-$sidebar-width} - 15px);
        border-right: none;
    }
    .sidebar.active {margin-left: 0;}
}