
#nav-tab {
  padding-left: 20px;

  .active {
    background: #fdfdfd;
  }

  a {  
    font-size: 1.2em;
    font-weight: 400;
    color:$main-light
  }

  a.active {  
    color:$main-color;
  }

  a:hover {
    text-decoration: none;
  }
}

.tab-content {
  margin-top: -10px;
  padding: 25px;
  background: #fdfdfd;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;

  .copy-code-button {
    margin-right: 50px;
  }
}