
table {
    border-collapse: collapse;
    border: 1px solid $main-med;
    min-width: 420px;
    max-width: 800px;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    code {
        color: $black;
        padding: 5px;
        background: $main-lightest;
        border-radius: 5px;
    }
}

th {
    background: $main-lighter;
    border: 1px solid $main-defused;
    padding: 0.5rem;
    line-height: 2em;
    font-weight: normal;
    font-size: 1.1em;
    text-align: center;
    white-space: nowrap;
}

td {
    border: 1px solid $main-defused;
    padding: 0.6rem;
    min-width: 130px;
}

@media (max-width: 576px ) {
    th {white-space: normal;}
}

//tr:nth-child(even) {background:  #fafafb; }

table.full-width {
    width: 100%;
    td, th {
        &:not(:last-child, :first-child){
            text-align: center;
        }
        &:last-child {
            width: 100%;
        }
    }
}
