
table {
    border-collapse: collapse;
    border: 1px solid $col-gray-light8;
    min-width: 420px;
    margin-left: 4em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
th {
    background: $col-gray-light10;
    padding: 0.5rem;
    line-height: 2em;
    font-family: $font-headers;
    font-size: 1.1em;
}

td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.6rem;
}

tr:nth-child(even) {background: $col-gray-light12}
