
.tf-filter-item {
    display: none;
}

button.active {
    i {
        display: inline;
    }   
}

button.disable-button {
    border-style: dashed;

    i {
        display: none;
    }
}

.show-item {
    display: block;  
}

.tag-button {
    margin: 5px;
    padding-right: 15px;
    padding-left: 10px;
    box-shadow: none !important;

    i {
        display: none;
    }  
}

.lang-button {
    margin: 5px;
    margin-top: -20px;
    padding: 5px 15px;
}

.lang-button.Disabled {
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    background-color: rgba(0, 123, 255, 1.0);    
}

.tag-button:hover, 
.lang-button:hover {
    color: #fff;
    background-color: rgba(0, 123, 255, 0.6);
}