
.tf-filter-item {
    display: none;
}

button.active {
    i {
        display: inline;
    }   
}

button.disable-button {
    border-style: dashed;

    i {
        display: none;
    }
}

.show-item {
    display: block;  
}

.tag-button {
    margin: 5px;
    padding-right: 15px;
    padding-left: 10px;
    box-shadow: none !important;

    i {
        display: none;
    }  
}
