.tiles {
    max-width:1000px;

    .header {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .box {
      padding: 15px 10px;
    }

    .subheader {
        margin-top: -5px;
        font-size: 1.2em;
    } 

    .card {
      margin: .4rem auto;
      width: 18.6rem;
      background: white !important;
      // min-height: 280px;
    }

    .card-body {
      padding: 15px;
      padding-bottom: 0px;
    }

    .card-footer {
      padding: 12px 20px;
    }

    .title {
      font-family: $font-paragraph;
      font-size: 1.1em;
      font-weight: 700; 
    }

    .title a {
      color: $col-blue-dark2;
      text-decoration: none;
    }
    
    .desc {
        font-family: $font-paragraph;
        color: $col-gray-dark1;
        font-size: .9em;  
    }

    .lang {
        font-family: $font-paragraph;
        color: $col-gray-light2;
        font-size: .9em; 
        margin: 15px 0 15px 15px;

        img {
            padding-right: 5px;
        }
    }
  
    .authors {
        margin: 10px 30px 15px;
        float: left;

        img {
            border-radius: 50%;
        }
    }

    .link {
        font-size: 1.0em;
        float: left;
        line-height: 2em;

        i {
          color: $col-blue-light2;
        }   
        
        a {
          color: $col-blue-base;
          text-decoration: none;
      }
    }
     
    .difficulty {
        float: right;
    }

  }
  
  @media (max-width: 992px ) {
    .tiles {
        max-width:660px;
    }
  }
  