.tiles {
    max-width:1000px;

    .box {
      padding: 15px 10px;
    }

    .subheader {
        margin-top: -5px;
        margin-bottom: 10px;
        font-size: 1.1em;
    } 

    .subtitle {
      margin-top: -10px;
      font-size: 1.15em;
    } 

    .card {
      margin: .4rem auto;
      width: 18.6rem;
      background: white !important;
      border: 1px solid $col-gray-light8;
      box-shadow: 1px 2px $col-gray-light7;
      // min-height: 280px;
    }

    .card-img {
      margin: -2px 0 0 -1px;
      img {
        width: 299px;
      }
    }

    .card-body {
      padding: 18px 15px 0 15px;
    }

    .blog-card {
      padding: 15px 15px 8px;
    }

    .card-footer {
      padding: 8px 20px;
    }

    .title {
      font-family: $font-paragraph;
      font-size: 1.05em;
      font-weight: 700; 
      
      a {
        color: black;
        text-decoration: none;
      }
    }

    .blog-title {
      font-family: $font-paragraph;
      font-size: 1.05em;
      font-weight: 700; 
      
      a {
        color: black;
        text-decoration: none;
      }
    }

    .meta {
      padding: 0;
      margin: -7px 0 8px 0;
      font-size: .9em;
      font-family: $font-body; 
      color:$col-blue-light3;
    }

    .meta-left {
      padding:0 0 0 14px;
    }
    
    .meta-right {
      padding:0 14px;
    }
    
    .date {
      text-align: right;
      i {
        color: $col-blue-light5;
        font-size: 1.1em;
      };
    }

    .desc {
        font-family: $font-paragraph;
        color: $col-gray-dark1;
        font-size: .9em; 
    }

    .description {
      font-family: $font-paragraph;
      color: $col-gray-dark1;
      padding-top: 10px;
      font-size: .95em;  
  }

    .lang {
        font-family: $font-paragraph;
        color: $col-gray-light2;
        font-size: .9em; 
        margin: 15px 0 15px 15px;

        img {
            padding-right: 5px;
        }
    }
  
    .authors {
        margin: 10px 30px 15px;
        float: left;

        img {
            border-radius: 50%;
        }
    }

    .link {
        font-size: 1.0em;
        float: left;
        line-height: 2em;

        i {
          color: $col-blue-light2;
        }   
        
        a {
          color: $col-blue-base;
          text-decoration: none;
      }
    }
     
    .difficulty {
        float: right;
    }

  }
  
  @media (max-width: 992px ) {
    .tiles {
        max-width:660px;
    }
  }
  