.toc-area {

  .toc-h3 {
    padding-left: 20px;
  }
}

.side-toc {
  margin: 20px 0;
  padding: 5px 10px;
  border-left: 1px solid $gray1;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {font-size: .9em; padding-bottom: 0;}
  }
}