$toc-width: 220px;

.toc-area {
  margin-top: 10px; 
  min-width: $toc-width;
  max-width: $toc-width;
}

.side-toc {
  padding: 20px 15px;
  border-left: 1px solid $main-lighter;
  
  .offset { margin-top: 0; }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      font-weight: normal;
      padding-bottom: 6px;
      line-height: 1.5em;
      font-size: .9em; 
      color: $gray10;
    }
  }

  .toc-h3 {
    padding-left: 15px;
  }  
}  


@media (max-width: 1200px) {
  .doc-toc {
    display: none;
  }
}