$background-color: $main-lightest;
$item-color: $main-color;

.top-menu {
  background-color: $background-color;
  padding: 10px;
  .logo {
    float: left;
    img {height: 28px;}
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-size: 1.02em;
    line-height: 1.64em;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    color: $item-color;
  }
  
  li a:hover {
    color: $item-color;
  }

  li i {
    font-size: 1.15em;
  }
}

@media (max-width: 767px) {
  .top-menu li span {
    display: none;
  }
}