@import 'params';
@import 'callout';
@import 'prism';

body {
  font-family: $font-body;
  color: $color-text;
  min-height: 100vh; 
}

// Site-wide
h1, .font-xxl {font-size: 2.1rem; }
h2, .font-xl {font-size: 1.7rem; }
h3, .font-lg {font-size: 1.45rem; }
h4, .font-md, .font-md-underline {font-size: 1.25rem; }
p, li, .font-rg {font-size: 1rem; }
h5, .font-sm {font-size: 0.9rem; }
h6, .font-xs {font-size: 0.8rem; }
h1, h2, h3, h4, .h1, .h2, .h3, .h4, .h5, .h6, .font-xs, .font-sm, .font-rg, .font-md, .font-lg, .font-xl, .font-xxl, .font-md-underline {
  color: $color-headers;
  font-family: $font-headers;
}
h5, h6 {
  font-family: $font-blog;
  font-weight: bold;
  color: $color-headers;
}
h2:after, h3:after {
  background: none repeat scroll 0 0 $flv-blue-light3;
  content: "";
  display: block;
  position: relative;
  height: 2px;
}
h2 { line-height: 1.7em; }
h2:after {
  width: 100%;
  bottom: 5px;
}
h3 { line-height:1.5em; }
h3:after {
  width: 100px;
}
.font-md-underline { line-height: 2.1em; }
.font-md-underline:after {
  background: none repeat scroll 0 0 $flv-blue-light3;
  content: "";
  display: block;
  position: relative;
  bottom: 2px;
  height: 2px;
  width: 70px;
}

a {
  color: $color-hyperlink;
}

p {
  font-family: $font-paragraph;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: .7rem;
}

strong {
  color: $flv-blue-dark4;
  font-weight: 700;
}
em {
  color: $flv-blue-dark6;
}


#logo {
  font-family: $font-logo;
  font-size: 26px;
  font-weight: 700;
  color: $color-top-menu;
}

a#logo {
  padding: 0;
}

#image {
  padding: 15px 0 30px 0;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.bk-white {
  background: white !important;
}

.font-09 {
  font-size: .9em !important;
}

// Content
#content {
  flex: 1;

  h1 {
    margin-top: 1rem;
  }
  h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 1.5rem;
  }
  li {
    margin-top: .2rem;
  }
}

.jumbotron {
  margin-top: -1em;
  background: $flv-gray-light10;
  border-bottom: 1px solid $flv-gray-light8;
}

// Footer
footer {
  background-color: $color-footer-bg;
  
  h1, h6 {
    color: $color-footer;
  }
}

// --------------
// Navbar
// --------------

.navbar-custom a.nav-link {
  padding: 0 3px !important;
}

.navbar-custom .navbar-nav li {
  padding: 0;
  margin: 0 .5rem;
}

.navbar-custom .navbar-item.active {   
  border-bottom: 2px solid $color-top-menu-border; 
}

.navbar-custom {
  background-color: $color-top-menu-bg;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
  color: $color-top-menu;
}

.navbar-custom .navbar-nav .nav-link-rev {
  color:  $color-top-menu-bg;
  background: white;
  border: 4px solid white;
  border-radius: .3em;  
  text-decoration: none;
}

.navbar-custom span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

// --------------
// Side Menu
// --------------

.sidemenu { 
  min-width: 220px;
  max-width: 270px;
  padding:5px;
  margin: 0 .5em 1em 1em;
}

.sidemenu .header {
  margin-top: 1em;
  margin-bottom: 5px;
}

.sidemenu .header a { 
  color:$color-sidemenu-header;
}

.sidemenu .header a:hover { 
  text-decoration: none;
}

.flv_acrd {
  line-height:1.5em;
  font-size: .98rem;
  font-family: $font-paragraph;
}

.flv_acrd .card,
.flv_acrd .card:last-child .card-header {
  border: none;
}

.flv_acrd .card-page {
  padding: 2px 2px 5px 1px;
}

.flv_acrd .card-page.selected a {
  font-weight: 700;
  color: $color-sidemenu-selected;
}

.flv_acrd .card-header {
  border: none;
  background: transparent;
  padding:2px;
}

.flv_acrd .card-header a:before {
  content: "\f0da"; /* fa-caret-right */
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size:15px;
  padding-right:4px;
  color: $color-darkblue;
}

.flv_acrd .card-header a[aria-expanded="true"]:before {
  content: "\f0d7"; /* fa-caret-down */
  padding-right: 0;
}

.flv_acrd a {
  display: block;
  position: relative;
  color: $color-sidemenu;
}

.flv_acrd a:hover{
  text-decoration: none;
}

.flv_acrd .card-body {
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
}

// --------------
// Main
// --------------

.main-area {
  min-width:300px;
  margin: .5em 1em .5em .5em;
}

.main {
  text-align: center
}

.main {
  .card {
    margin: .5rem auto;
    float: none;
    width: 19rem;
  }
  
  .title {
    font-family: $font-logo;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.35em;
    color: $color-main-title;
  }
  
  .desc {
    .title {
      color: $flv-gray-dark1;
      font-family: $font-headers;
      font-weight:700;
      font-size:3em;  
    }
    .wrapper {
      text-align: left;
      max-width: 90%;
      margin: 2.5em auto 0; 

      .subtitle, .subtitle2 {
        color:  $flv-gray-base;
        font-size:1.21em;
      }
      .subtitle2 {
        padding-top: 1.2em;
        font-weight: 700;
      }
    }
  }
    
  .box-header {
    text-align: center;
    margin: .3em 0 1em;

    a {
      font-family: $font-headers;
      color: $flv-gray-base;
    }
  }

  .box-content {
    margin-top: 1.6em;
    color: $flv-gray-base;
  }
}

// --------------
// Blog
// --------------

.blog {
  margin: .5em;
  
  .content { 
    padding-left: 10px;
  }

  .inner {
    margin: 1.5em .5em;
  }

  .author-area {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #efefef;
    content: "";
    display: block;
    position: relative;
    padding: 5px 10px;

    i {
      font-size: 1em;
    }
    
    .by, .date {
      font-size: .9em;
      font-family: $font-blog;
    }

    .author {
      color: #555555;
      font-size: 1.05em;
      font-family: $font-blog-author;
      text-transform: uppercase;
    }
  }


  .menu { 
    max-width: 240px;
    margin-right: 35px;
    padding:5px;
  }

  .menu .h4 { 
    border-bottom: 1px solid $color-blog-header-line;
    padding-bottom: 4px;
    margin-bottom: 10px;
  }

  .menu .h4 a { 
    color: $color-blog-header;
  }

  .menu a:hover { 
    text-decoration: none;
  }

  .menu ul { 
    margin-left:-20px;
  }

  .menu ul li { 
    list-style: none;
  }
  
  .menu .item a { 
    font-size: 15px;
    font-family: $font-blog;
    font-weight: 400;
    color: $color-blog;
    line-height: 1.84em;
  }

  .menu .item a:hover { 
    text-decoration: underline;
  }

  .menu .item.selected a { 
    color: $color-blog-selected;
  }
}

.blog-nav {
  padding-top:10px;
}

// --------------
// FAQ
// --------------

.faq {
  .question {
    font-size:18px;
    text-transform: uppercase;
  }

  .answer {
      margin-left: 2.5em;
  }
}

.faq-toc {
  hr {
    margin-top:15px;
  }

  li {
    padding-left: 10px;
    font-size: 1.0rem;
  }

  a {
      font-family: $font-faq-toc;
      font-weight: 400;
      color: $color-faq-toc;
  }

  a:hover {
    text-decoration: none;
  }
}

.mlc5 {
  margin-left:5em;
}

// --------------
// Screen Sizes
// --------------
@media (max-width: 1200px ) { //992px
  .mlc5 {
    margin-left:0;
  }
}


@media (max-width: 768px) {
  img#scaled-90 {width: 90%;}
  img#scaled-75 {width: 75%;}
  img#scaled-50 {width: 50%;}

  .blog .content { 
    padding-right: 30px;
  }
  
  .blog .menu { 
    margin-top: 30px;
    margin-left: 5px;
  }

  .navbar-custom {
    .nav-link {
      padding: 5px;
      margin: 5px;
    }

    .navbar-nav {
      margin-top:10px;
      margin-right:-10px;
    }

    .navbar-item.active {   
      border-bottom: none;
      background-color: $color-top-menu-collaped-sel;
    }
  }

  .mlc5 {
    margin-left:0;
  }

}

// --------------
// Print
// --------------
@media print {
  .faq-toc {
    display: none;
  }
  .sidemenu {
    display: none;
  }
}

// --------------
// Others
// --------------
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.archor {
  color: $flv-gray-light2;
  font-size: .9rem;
  margin-left: .2em;
  vertical-align: middle;
}
