@import 'params';
@import 'header';
@import 'buttons';
@import 'navbar';
@import 'top-menu';
@import 'highlight';
@import 'callout';
@import 'copycode';
@import 'content';
@import 'table';
@import 'jumbotron';
@import 'circle-cards';
@import 'boxes';
@import 'card';
@import 'lists';
@import 'footer';
@import 'doc';
@import 'toc';
@import 'social';
@import 'sidebar';

body {
  margin: 0;
  font-family: $main-font;
  font-weight: 300;
  color: $gray11;
}

.top-gap {
  padding-top: 60px; /* navbar fixed top */
}

.site-width { max-width: $site-width; }
.mid-width { max-width: $mid-width; }
.small-width { max-width: $min-width; }
.blog-width { max-width: $blog-width; }
.min-height {min-height: calc(100vh - 178px);}

// Site-wide
.font-xxl, .font-xl, .font-lg, .font-md, .font-rg, .font-md-underline .font-sm, .font-xs {
  color: $gray12;
  font-family: $main-font;
}
h1, h2, h3 {
  color: $black;
  font-family: $main-font;
  font-weight: 400;
}
h2:after, h3:after {
  background: none repeat scroll 0 0 $main-light;
  content: "";
  display: block;
  position: relative;
  height: 1px;
}
h3 { display: inline-block }
h3:after {
  margin-right: -5px;
}
h4 {
  color: $black;
  font-family: $main-font;
}
h5, h6 {
  color: $black;
  font-style: italic;
  font-family: $main-font;
}
h1, .font-xxl {font-size: 2.3rem; }
h2, .font-xl {font-size: 1.8rem; }
h3, .font-lg, .related-hdr {font-size: 1.5rem; }
h4, .font-md, .font-md-underline {font-size: 1.2rem; }
h5 {font-size: 1.1rem;}
h6 {font-size: 1rem;}
p, li, .font-rg {font-size: 1.1rem; color: $gray12; line-height: 1.65rem;}

h1 {padding: 30px 0 20px;}
h2, h3 {padding: 20px 0 15px}
h4,h5,h6 { padding: 15px 0 10px; }

strong {font-family: $main-font; }

.font-xs {font-size: .85rem;}
.font-sm {font-size: .95rem;}

.center {max-width:650px; margin:auto; }

p, li, h1, h2, h3, h4, h5, h6 {
  code {
    padding: 4px 7px 3px;
    background: lighten($main-light, 43%);
    color: inherit;
    border-radius: .25em;    
  }

  a { color: $main-hyperlink; }
  a:hover { color: $main-hyperlink-hover; }
}

// --------------
// Code
// --------------
pre {
  background: $main-lightest;
  padding: 10px;
}

// --------------
// Highlight
// --------------
.highlight {
  pre {
    margin-top: 10px;
    padding:15px;
    background: $code-background;
    border:1px solid $gray2;  
    border: 0px;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    padding-left: 0;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
  
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
  
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background:inherit;
  }  
}

.inline { display: inline-block; }

.gray-grad-bk {
  background-size: cover;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(249, 249, 249)) 0px 0px no-repeat padding-box padding-box transparent;
}

.gray-bk {
  background: $light-gray;
}

blockquote {
  margin: 1em;
  border-left: 5px solid $main-defused; 
  background: rgba($light-gray, 0.5);
  p {
    padding: .5em .8em;
    font-size: 1.1em;
    color: $main-dark;
  }
}