@import 'params';
@import 'callout';

body {
  font-family: $font-body;
  color: $color-text;
  min-height: 100vh; 
}

h1 {font-size: 2.1rem; }
h2 {font-size: 1.7rem; }
h3 {font-size: 1.45rem; }
h4, .h4clean {font-size: 1.25rem; }
h5, .h5clean {font-size: 1rem; }
h6 {font-size: 0.8rem; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h4clean, .h5clean {
  margin-top: 1rem;
  color: $color-headers;
  font-family: $font-headers;
}
h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h4clean, .h5clean {
  margin-top: 1.5rem;
}
h4:after, h5:after {
  background: none repeat scroll 0 0  $color-diffusedblue;
  content: "";
  display: block;
  position: relative;
}
h4:after, h5:after {
  bottom: -2px;
  height: 3px;
  width: 50px;
}
h5:after {
  width: 25px;
}

a {
  color: $color-hyperlink;
}

p {
  font-size: 17px;
  font-family: $font-paragraph;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: .7rem;
}

li {
  margin-top: .4rem;
}

#logo {
  font-family: $font-logo;
  font-size: 26px;
  font-weight: 700;
  color: $color-top-menu;
}

a#logo {
  padding: 0;
}

#content {
  flex: 1;
}

footer {
  background-color: $color-footer-bg;
  
  h1, h6 {
    color: $color-footer;
  }
}

// --------------
// Main
// --------------

.main {
  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 30px;
    width: 18rem;
  }
}

// --------------
// Navbar
// --------------

.navbar-custom a.nav-link {
  padding: 0 3px !important;
}

.navbar-custom .navbar-nav li {
  padding: 0;
  margin: 0 .5rem;
}

.navbar-custom .navbar-item.active {   
  border-bottom: 2px solid $color-top-menu-border; 
}

.navbar-custom {
  background-color: $color-top-menu-bg;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
  color: $color-top-menu;
}

.navbar-custom span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

// --------------
// Side Menu
// --------------

.sidemenu { 
  min-width: 220px;
  max-width: 300px;
  padding:5px;
}

.sidemenu .h4clean { 
  font-size:1.2rem;
  margin-bottom: 5px;
}

.sidemenu .h4clean a { 
  color: $color-darkblue;
}

.sidemenu .h4clean a:hover { 
  text-decoration: none;
}

.flv_acrd {
  line-height:1.6em;
  font-size: 0.9rem;
  font-family: $font-side-menu;
}

.flv_acrd .card,
.flv_acrd .card:last-child .card-header {
  border: none;
}

.flv_acrd .card-page {
  padding: 2px 2px 5px 1px;
}

.flv_acrd .card-page.selected a {
  font-weight: 500;
  color: $color-darkblue;
}

.flv_acrd .card-header {
  border: none;
  background: transparent;
  padding:2px;
}

.flv_acrd .card-header a:before {
  content: "\f0da"; /* fa-caret-right */
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size:15px;
  padding-right:4px;
  color: $color-darkblue;
}

.flv_acrd .card-header a[aria-expanded="true"]:before {
  content: "\f0d7"; /* fa-caret-down */
  padding-right: 0;
}

.flv_acrd a {
  display: block;
  position: relative;
  color: $color-sidemenu;
}

.flv_acrd a:hover{
  text-decoration: none;
}

.flv_acrd .card-body {
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
}

// --------------
// Main
// --------------

.main {
  text-align: center
}

.main h1{
  font-family: $font-logo;
  font-size: 60px;
  font-weight: 700;
  color: $color-main-title;
}

.main desc {
  color: $color-main-desc;
}

// --------------
// Blog
// --------------

.blog {
  
  .content { 
    padding-left: 10px;
  }

  .author { 
    font-family: $font-blog-author;
    font-weight:700;
  }

  .menu { 
    max-width: 240px;
    margin-right: 35px;
    padding:5px;
  }

  .menu .h4clean { 
    border-bottom: 1px solid $color-blog-header-line;
    padding-bottom: 4px;
    margin-bottom: 10px;
  }

  .menu .h4clean a { 
    color: $color-blog-header;
  }

  .menu a:hover { 
    text-decoration: none;
  }

  .menu ul { 
    margin-left:-20px;
  }

  .menu ul li { 
    list-style: none;
  }
  
  .menu .item a { 
    font-size: 15px;
    font-family: $font-blog;
    font-weight: 400;
    color: $color-blog;
    line-height: 1.84em;
  }

  .menu .item a:hover { 
    text-decoration: underline;
  }

  .menu .item.selected a { 
    color: $color-blog-selected;
  }
}

.blog-nav {
  padding-top:10px;
}

// --------------
// FAQ
// --------------

.faq {
  .question {
    font-size:18px;
    text-transform: uppercase;
  }

  .answer {
      margin-left: 2.5em;
  }
}

.faq-toc {
  hr {
    margin-top:15px;
  }

  li {
    padding-left: 10px;
    font-size: 1.0rem;
  }

  a {
      font-family: $font-faq-toc;
      font-weight: 400;
      color: $color-faq-toc;
  }

  a:hover {
    text-decoration: none;
  }
}

// --------------
// Screen Size
// --------------

@media (max-width: 576px) {
  .blog .content { 
    padding-right: 30px;
  }
  
  .blog .menu { 
    margin-top: 30px;
    margin-left: 5px;
  }

  .navbar-custom {
    .nav-link {
      padding: 5px;
      margin: 5px;
    }
    
    .navbar-item.active {   
      border-bottom: none;
      background-color: $color-top-menu-collaped-sel;
    }
  }
}

// --------------
// Print
// --------------
@media print {
  .faq-toc {
    display: none;
  }
}

// --------------
// Others
// --------------
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.archor {
  color: $color-diffusedblue;
  font-size: .85rem;
}
