{{- $isProduction := true -}}
{{- if in (string .Site.BaseURL) "localhost" -}}
  {{ $isProduction = false }}
{{- else if in (string .Site.BaseURL) "nightly" -}}
  {{ $isProduction = false }}
{{- end -}}

<footer class="footer mt-4">
  <div class="container-fluid py-3">
    <div class="row pt-1">
        <div class="col-md-4 left-side">
           <a href="https://github.com/infinyon/fluvio" target="_blank"><h1 class="fab fa-github"></h1></a>
           <a href="https://discordapp.com/invite/bBG2dTz" target="_blank"><h1 class="fab fa-discord ml-2"></h1></a>
           <a href="https://twitter.com/fluvio_io" target="_blank"><h1 class="fab fa-twitter ml-2"></h1></a>
        </div>
        <div class="col-md-4 center-side">
          <div class="font-footer">Copyright © {{ now.Format "2006"}} Fluvio Authors</div>
          <div class="font-footer">Fluvio {{ $.Site.Params.Version }}</div>
        </div>
        <div class="col-md-4"></div>
    </div>
  </div>

{{- if $isProduction -}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147220940-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-147220940-1', {
      'user_id':  gsc()
    });    
  </script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>  
{{- end -}}

</footer>
