<meta property="og:type" content="article" />
{{- $title := "Fluvio data streaming" -}}
{{- if .page.Param "title" -}}
    {{- $title = .page.Param "title" -}}
{{- end }}
<meta property="og:title" content="{{ $title }}" />
{{- $description := "Real-time data streaming platform" -}}
{{- if .page.Param "description" -}}
    {{- $description = .page.Param "description" -}}
{{- end }}
<meta property="og:description" content="{{ $description }}" />
{{- if .page.Param "img" -}}
    {{- $img := print .page.Site.BaseURL (.page.Param "img") }}
<meta property="og:image" content="{{ $img }}">
<meta name="twitter:site" content="@fluvio_io">
<meta name="twitter:image:src" content="{{ $img }}" />
    {{- if .page.Param "twitter-card" }}
<meta name="twitter:card" content="{{ .page.Param "twitter-card" }}" />
    {{- end }}
{{- end }}
{{- if .page.Param "author.name" }}
<meta name="author" content="{{.page.Param "author.name"}}">
{{- end }}
{{- if .page.Param "date" }}
<meta name="publish_date" property="og:publish_date" content="{{.page.Param "date"}}">
{{- end }}