<meta property="og:type" content="article" />
{{- $title := "Fluvio data streaming" -}}
{{- if .page.Param "title" -}}
    {{- $title = .page.Param "title" -}}
{{- end }}
<meta property="og:title" content="{{ $title }}" />
{{- $description := "Real-time data streaming platform" -}}
{{- if .page.Param "description" -}}
    {{- $description = .page.Param "description" -}}
{{- end }}
<meta property="og:description" content="{{ $description }}" />
{{- if .page.Param "social" -}}
{{- $social := print .page.Site.BaseURL (.page.Param "social.image") }}
{{- end }}
{{- if .page.Param "twitter" -}}
    {{- $img := print .page.Site.BaseURL (.page.Param "twitter.image") }}
<meta name="twitter:site" content="@fluvio_io">
<meta name="twitter:card" content="{{ .page.Param "twitter.card" }}" />
<meta name="twitter:image:src" content="{{ $img }}" />
{{- end }}