{{- $currentPage := .page -}}
{{- $companyURL := .page.Site.Params.company_url }}
<div id="top-menu" class="top-menu">
  <div class="container-fluid site-width">
    <a class="logo" href="{{ $companyURL }}"><img src="{{ .page.Site.Params.company_logo_white }}"
        alt="InfinyOn logo"></img></a>
    <ul>
      {{ range .menu }}
      {{- $active := "" -}}
      {{- if eq $currentPage.Section (.Identifier | lower) -}}
      {{- $active = "active" -}}
      {{- end -}}
      {{- $target := "_self" -}}
      {{- if hasPrefix .URL "http" -}}
      {{- if not (in .URL $companyURL) -}}
      {{- $target = "_blank" -}}
      {{- end -}}
      {{- end -}}
      <li>
        <a href="{{ .URL }}" target="{{ $target }}">
          {{ if .Pre }}
          <i class="{{ .Pre }}"></i>
          {{ end }}
          <span>{{ .Name }}</span>
          {{ if .Post }}
          <i class="{{ .Post }}"></i>
          {{ end }}
        </a>
      </li>
      {{- end -}}
    </ul>
  </div>
</div>