{{- define "head-meta" -}}
  {{ partial "header/page-head-meta.html" (dict "page" .) }}
{{- end -}}

{{ define "menu" }}
    {{- partial "top-menu.html" (dict "page" .  "menu" .Site.Menus.infinyon) -}}
    {{- partial "menu.html" (dict "page" . "menu" .Site.Menus.fluvio) -}}
{{ end }}

{{ define "content" }}
  {{- partial "main/jumbotron.html" (dict "jumbotron" .Params.jumbotron) }}
  {{- partial "main/colored-circles.html" .Params.easy }}
  {{- partial "main/squared-boxes.html" .Params.technology -}}
  {{- partial "main/full-width-text.html" .Params.platform -}}
{{ end }}

{{ define "footer" }}
  {{ partial "footer/footer.html" . }}
  <script src="/js/navbar-fixed.js"></script>
  <script src="/js/navbar-border.js"></script>
{{ end }}