{{- $content := .page.Content -}}
{{- $content := partial "augment/idea-symbol.html" $content -}}
{{- $content := partial "augment/caution-symbol.html" $content -}}
{{- $content := partial "augment/headline-hash.html" $content -}}
{{- $org := "" -}}
{{- if (.page.Param "author.org") -}}
    {{ $org = print " (" (.page.Param "author.org")  ")" }}
{{- end -}}
<h1 class="post-title entry-title">{{ .page.Title }}</h1>
<div class="subtitle">
    <div class="row pl-3">
        <div>
            <span class="by">by</span> 
            <span class="author">{{ .page.Param "author.name"}}</span>{{ $org }} 
            <span class="ml-1">|</span>
            <i class="fa fa-calendar-day pr-1 pl-1"></i>
            <span class="date">{{ .page.Date.Format site.Params.blog_time_format }} </span>
        </div>
        <div class="col-sm-auto"></div>
        <div class="ml-auto mr-3">
            <span class="read-label">Reading time</span>:
            <span class="time">{{ math.Round (div (countwords $content) 220.0) }} minutes<span>
        </div>
    </div>
</div>

<div class="blog-content">
{{- $hidden := (.page.Param "social.hidden") | default false -}}
{{ if and (.page.Param "social") (not $hidden)  -}}
    <img src="/{{ (.page.Param "social.image") }}" />
{{- end }}
{{ $content }}
</div>