/* font converted using font-converter.net. thank you! */

@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik-VariableFont_wght.eot);
  src: url(../fonts/Rubik-VariableFont_wght.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Rubik-VariableFont_wght.otf) format('otf'),
       url(../fonts/Rubik-VariableFont_wght.svg#Rubik-VariableFont_wght) format('svg'),
       url(../fonts/Rubik-VariableFont_wght.ttf) format('truetype'),
       url(../fonts/Rubik-VariableFont_wght.woff) format('woff'),
       url(../fonts/Rubik-VariableFont_wght.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik-VariableFont_wght.eot);
  src: url(../fonts/Rubik-VariableFont_wght.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Rubik-VariableFont_wght.otf) format('otf'),
       url(../fonts/Rubik-VariableFont_wght.svg#Rubik-VariableFont_wght) format('svg'),
       url(../fonts/Rubik-VariableFont_wght.ttf) format('truetype'),
       url(../fonts/Rubik-VariableFont_wght.woff) format('woff'),
       url(../fonts/Rubik-VariableFont_wght.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik-VariableFont_wght.eot);
  src: url(../fonts/Rubik-VariableFont_wght.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Rubik-VariableFont_wght.otf) format('otf'),
       url(../fonts/Rubik-VariableFont_wght.svg#Rubik-VariableFont_wght) format('svg'),
       url(../fonts/Rubik-VariableFont_wght.ttf) format('truetype'),
       url(../fonts/Rubik-VariableFont_wght.woff) format('woff'),
       url(../fonts/Rubik-VariableFont_wght.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
  font-family: 'Work Sans';
  src: url(../fonts/WorkSans-Regular.eot); /* IE9 Compat Modes */
  src: url(../fonts/WorkSans-Regular.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
    url(../fonts/WorkSans-Regular.otf) format("opentype"), /* Open Type Font */
    url(../fonts/WorkSans-Regular.svg) format("svg"), /* Legacy iOS */
    url(../fonts/WorkSans-Regular.ttf) format("truetype"), /* Safari, Android, iOS */
    url(../fonts/WorkSans-Regular.woff) format("woff"), /* Modern Browsers */
    url(../fonts/WorkSans-Regular.woff2) format("woff2"); /* Modern Browsers */
}