{{ define "main" }}
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/';}"></iframe>

<div id="ContactForm" class="mt-5">
  <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSfnCBT6Q_UnBuju-kBfq6qUULDKFOprogP2K8_yYV0BehvS6w/formResponse">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header info-color white-text">
        <div class="title text-info font-xl">
          <span class="font-md"><i class="fas fa-pen mr-1 text-info"></i></span>
          Contact Us
        </div>
      </div>

      <!--Body-->
      <div class="modal-body">

        <!-- Default input name -->
        <label for="name" class="font-md">Your Name</label>
        <input type="text" name="entry.1750329614"id="name" class="form-control form-control-md" required>        

        <br>

        <!-- Default input email -->
        <label for="email2"  class="font-md">Email Address</label>
        <input name="entry.1674539295" type="email" class="form-control form-control-md" required>

        <br>

        <!-- Default textarea message -->
         <label for="description"  class="font-md">Your Message</label>
        <textarea name="entry.278536991" id="message" class="form-control form-control-md"></textarea>

        <!-- Submit  -->
        <div class="text-center mt-4 mb-2">
          <button class="btn btn-info">  
            <i class="fa fa-paper-plane mr-2 white-text"></i>
            Send Message
            </button>
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
  <!--/Modal: Contact form-->
  </form>
</div>

{{ end }}    