{{- $content := .Content -}}
{{- $title := .Title | safeHTML -}}

<div class="container-fluid site-width min-height">
    <div class="row">
        <div class="col doc-area">
            <div class="doc">
                <h1 class="text-center">{{ $title }}</h1>
                <div class="doc-content">
                    {{ $content }}
                    <h4 id="newsletters">Newsletters</h4>
                    <ul>
                        {{ range .Pages }}
                        <li>
                            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}}: {{.Title}}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>