<div class="tab-content" id="producer-tabContent">
    <div class="tab-pane show active" id="node-producer" role="tabpanel">
        <h1> Test </h1>
        {{- .Inner | markdownify -}}
        {{ partial "main/code/node-producer.md" | markdownify }}
    </div>
    <div class="tab-pane" id="rust-producer" role="tabpanel">
        {{ partial "main/code/rust-producer.md" | markdownify }}
    </div>
    <div class="tab-pane" id="swift-producer" role="tabpanel">
        {{ partial "main/code/swift-producer.md" | markdownify }}
    </div>
</div>