<br />
{{ $section := .Page.Section }}
{{ $page := .Page.File.ContentBaseName }}
{{ $tag := index (split .Page.Dir "/") 1 }}
{{ $rootPagePath := print $section "/" $page }}
{{ $rootPage := .Site.GetPage $rootPagePath }}

{{- range $rootPage.Params.tags -}}
    {{- $linkTo := ""}} 
    {{- $active := "" -}}
    {{- if eq . $tag -}} 
        {{- $active = "active" -}}
    {{- else -}}
        {{- $linkTo = (print "/" $section "/" . "/" $page) -}}
    {{- end -}}
    <a role="button" class="btn btn-outline-primary lang-button {{$active}}" id="{{ . }}" href="{{ $linkTo }}">
    {{- if eq $linkTo "" -}}
        <i class="fas fa-check"></i>
    {{- end }}
    <span>{{. | humanize | title }}</span>
    </a>  
{{- end -}}