{{ $twitter := in .Params "twitter" }}
{{ $linkedin := in .Params "linkedin" }}
{{ $ycombinator := in .Params "ycombinator" }}
{{ $reddit := in .Params "reddit" }}
{{ $url := absURL .Page.Params.url | safeHTML }}
{{ $description := .Page.Params.description | safeHTML }}
{{ $title := .Page.Title | safeHTML }}

<div class="social">
  {{ if $twitter -}}
    <a class="btn twitter" type="button" role="button" title="Share on Twitter"
        href="https://twitter.com/intent/tweet?url={{ $url }}&text={{ $title }}"
        target="_blank">
        <i class="fab fa-twitter"></i>
    </a>
  {{- end }}
  {{ if $linkedin -}}
    <a class="btn linkedin" type="button" role="button" title="Share on LinkedIn"
        href="https://www.linkedin.com/shareArticle?url={{ $url }}&title={{ $title }}&summary={{ $description }}"
        target="_blank">
        <i class="fab fa-linkedin-in"></i>
    </a>
  {{- end }}
  {{ if $ycombinator -}}
    <a class="btn ycombinator" type="button" role="button" title="Share on Y Combinator"
        href="https://news.ycombinator.com/submitlink?u={{ $url }}&t={{ $title }}&text={{ $description }}"
        target="_blank">
        Y
    </a>
  {{- end }}
  {{ if $reddit -}}
    <a class="btn reddit" type="button" role="button" title="Share on Reddit"
        href="https://www.reddit.com/submit?url={{ $url }}&title={{ $title }}&text={{ $description }}"
        target="_blank">
        <i class="fab fa-reddit"></i>
    </a>
  {{- end }}
</div>
